  .header td {
    border-bottom: 0.5px solid rgb(23, 71, 133);
}
  
  .header .column-header {
    width: 50%;
  }
  
  .header .column-amount-in{
    width: 20%;
    text-align: right;
    background-color: rgb(57, 180, 57);
    color: white;  
  }
  
  .header .column-amount-out{
    width: 20%;
    text-align: right;
    background-color: rgb(153, 39, 39);
    color: white;
  }
 
.header .column-percentage {
    width: 20%;
    text-align: center;
  }
  
.header .column-remove {
    width: 10%;
    text-align: center;
  }
  
.header .column-pen-trash {
    padding: 0;
    text-align: center;
}

.header .pen {
    margin-right: 5px;
}

.header .trash{
    margin-left: 5px;
}

.header .pen:hover, .header .trash:hover {
    color: grey;
    cursor: pointer;
}